.showComment{
    max-height: 300px;
    overflow: auto;

}
.btn-showCom{
    position: relative;
    top: 10px;
    left: 47%;
    /* transform: translate(-50%, -50%); */
}
.showComment::-webkit-scrollbar {
    width: 20px;
  }
  

 
   
  /* Handle */
  .showComment::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
 