.page-about{
    background: #7d6a6a1f;
   
}
.description.dark{
    color: #f0f8ff;
   
}
.page-about.dark{
    background: rgba(19, 45, 70, 1);
    color: aliceblue;
    
}

.description p{
    /* color: #f0f8ff; */
    margin-left: 40px;
   
}
.about{
    margin: 0 44px;
}
.about h2{
    padding-top:30px ;
    /* margin-left: 34px; */

}
.description{
    margin: 34px;
    margin-top: 0px;
}



.white-box{
    /* width: 100%; */
    height: 300px;
    margin-bottom: 22px;
    margin-bottom: 63px;
    justify-content: center;
    /* align-items: center; */
    /* margin: auto; */
}

.white-box-two{
    width: 703px;
    height: 277px;
    background: #FFFFFF;
    display: flex;
    flex-flow: row nowrap;
}
.the-team{
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    margin-bottom: 33px;
    justify-content: space-between;
    margin: 34px;
    margin-top: 0px;
    font-size: 19px;

}
.team p{
    margin-left: 40px;
   margin-top:20px ;
}
.about-us {
margin-left: 34px;
/* background: red; */
}





/* -------------------------------- Responsive ------------------------------- */


 @media only screen and (max-width: 830px) {

    
    .the-team{
        display: flex;
        flex-flow: row nowrap;
        flex-direction: column;
        margin-bottom: 33px;
    
    }
    .white-box-two{
        width: 100%;
        height: 277px;
        background: #FFFFFF;
        display: flex;
        flex-flow: row nowrap;
    }
} 
.team{
    width: 600px;
}


















