.categorie-combine{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.lines{
    /* border: black 1px solid; */
    display: flex;
    flex-flow: column;

}
.line1{
    position: relative;
    top: 20px;
    left: 59%;
    width: 40px;
    height: 0px;
    border: 1px solid #01C38D;
    background-color: #01C38D;

}
.line2{
    position: relative;
    top: 25px;    
    width: 100px;
    height: 0px;
    background-color: #01C38D;
    border: 1px solid #01C38D;

}
.line3{
    position: relative;
    top: 20px;
    width: 40px;
    height: 0px;
    border: 1px solid #01C38D;
    background-color: #01C38D;


}
.line4{
    position: relative;
    top: 25px;    
    width: 100px;
    height: 0px;
    border: 1px solid #01C38D;
    background-color: #01C38D;

}
.categorie{
    /* border: black 1px solid; */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
padding:0px 10px;
color: #01C38D;
}
.categorie-combine{
    display: flex;
    flex-flow: row;
    justify-content: center;


}
.categorie{
    /* border: black 1px solid; */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
padding:0px 10px;
color: #01C38D;

}



.Courscategorie{
    display: grid;
    place-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #55BBCC;


}
