.AboutUs-container{
    background: #C6DABF;
    display: flex;
    height: 340px;
    justify-content: space-around;
}
.AboutUs-container.dark{
    background-color: rgba(112, 119, 147, 1);
  
}
.AboutUs-container .first-pict{
    margin-top: 109px;
        background: whitesmoke;
        height: 135px;
        width: 150px;
        margin-left: 100px;
        
}

.AboutUs-container .secend-pict{
    background: whitesmoke;
    height: 100px;
    width: 120px;
    position: relative;
    top: -190px;
    left: 160px;
}


.AboutUs-container .left-side{
    margin-top: 90px;
     margin-right: -400px;
    color: #FFFFFF;
}

.AboutUs-container button{
    position: absolute;
    width: 200px;
    height: 40px;
    background: #C6DABF;
    font-family: 'Inter';
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-left: 60px;
    margin-top: 20px;
}
.AboutUs-container.dark button{
  
    background:rgba(112, 119, 147, 1);
}
  

@media only screen and (max-width: 765px) {
    .AboutUs-container .left-side{
        margin-top: 90px;
         margin-right: -120px;
        color: #FFFFFF;
    }
}
