.pageBuyCoins{
    width: 80%;
    margin: auto;
}
.BuyCoins .mySold{
    
    padding: 50px 20%;
    display: flex;
    justify-content: space-between;
    
}


.mySold h2{
    margin-top: 27px;
    font-family: Arial;
    font-weight: bolder;

}
.BuyCoins .mySold button{
    background: #80B6B5;
    border-radius: 20px;
    width: 150px;
    height: 60px;
    border: none;
    /* margin: 0 auto; */
    margin-top: 15px;
    margin-inline: auto;




}
.BuyCoins hr{
    /* width: 580px; */
    margin: -10px auto;
    border: 1px solid black;
}
.shose_option .heading{
    /* padding-left:370px ; */
    margin: 50px  20%;
    display: flex;
}
.shose_option .heading h2{
    font-family: Arial;
    font-weight: bolder;

}

/* -------------------- */
.ontion{
    background: #F4F3CF;
    /* height: 460px; */
    padding: 10px 10px;
    margin-top: -30px;
    margin-inline: 10% ;


}

/*  */

.Contity{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.Contity button{
background: #80B6B5;
color: white;
border-radius: 10px;
width: 180px;
height: 40px;
margin-right: 90px;
border: none;
color: white;
font-weight: bolder;
}
.Contity input{
    background: #daa97966;
    border-radius: 10px;
    width: 120px;
    margin-left: -100px;
    height:30px ;
    margin-top: 9px;
    border: none;
    outline: none;
    padding: 0 17px;
}

.Contity p{
    font-size:x-large;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 5px;
    
}


@media only screen and (max-width: 700px)  {
    
    .pageBuyCoins{
        display: flex;
        justify-content: center;
  
    }

}


