/* .ListCources{
    padding:30px;
background-color:	 #283F55;

} */
.ListCources.light{
    padding:30px;
background-color:	rgba(232, 230, 227, 0.5);

}
/* .ListCources h4{
    margin-left: 7rem;
    font-size:x-large;
    padding: 20px 0px;
} */

.ListCources{
    padding:30px;
   background-color:	 #283F55;
   height: 400px;
}
.ListCources h4{
    margin-left: 7rem;
    font-size:x-large;
    padding: 20px 0px;
}



