.PageSearch{
    width: 100%;
    min-height: 100vh;
    background: rgba(253, 220, 170, 0.1);

}
.PageSearch.dark{
    background-color: rgba(19, 45, 70, 1);
  
}

.PageSearch .Content{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.PageSearch .Content .section-Aside{
    width: 20%;
    height: 85vh;
    display: grid;
    place-items: center;

}


.PageSearch .Content .section-content{
    width: 80%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-top: 3rem;

}