.AsideSearch{
    width: 90%;
    height: 70vh;
    background-color: grey;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}


.AsideSearch .first-Section .inputs{
    width: 100%;
    height: 45px;
}
.AsideSearch .first-Section .inputs *{
    margin-left: .7rem;
    font-size: 1.1rem;
}


.AsideSearch .second-Section .inputs{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-left: .1rem;
}

.AsideSearch .second-Section .inputs input{
    width: 100px;
    margin-left: .7rem;
}

.AsideSearch .second-Section .inputs label{
    font-size: 1.1rem;

}

.Section-button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

.Section-button button{
    width: 85%;
    height: 2rem;
    background-color: blue;
    color: white;
    border: none;
}

