.checkout{
    background: rgba(226, 218, 218, 1);
    border-radius: 25px;
    padding:  20px 10px 40px 10px ;
    height: 200px;

}
.checkout div{
    text-align: center;
    margin: 0 auto;    
}
.checkout .check{
  
    background: rgba(1, 195, 141, 1);
    color: aliceblue;
    width: 180px;
    height: 40px;
    border: none;
    

}
