

.Card-Content{
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 3rem;
}

.Card-Content h1{
    width: 90%;
    height: 5rem;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    padding: 1rem 1.5rem;
}
.Card-Content .cards {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

