.container{
    background-color: #CCCBCB;
    height: 260px;
    border-radius: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    justify-content: center;

}
.img-course{
   
    background-color: white;
    width: 90%;
    height: 80%;
    margin: auto;
}


.card-info{
    display: grid;
    grid-template-rows: 10% 20% 50% 20%;

}

.action-icons{
    display: flex;
    justify-content: flex-end;
    font-size: xx-large;
    margin-right: 5px;
    margin-top: 8px;
    flex-flow: row nowrap;



}
.title{
    font-family: 'Inter';
    font-size: 40px;
    width: 80%;
    color: black;
    padding-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;



}
.description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 30px;
  
    
}

.bottom .language{
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding-left: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 44px;
    
    
}

.bottom .language .icon{
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin: auto;
}
.bottom .language .lang{
    padding-left: 10px;
    
    margin: auto;
}

@media only screen and (max-width:497px) {
  
    .container {
        height: 440px;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .title {
       
        font-weight: 400;
        font-size: 30px;
        line-height: 28px;
    
    }
    
}
@media only screen and (max-width:255px) {
  
    .card-info{
        grid-template-rows: 10% 20% 40% 30%;
    
    }
    .bottom{
        display: flex;
        flex-direction: column;
        
    }
    
    .bottom .language{

        line-height: 20px;
        
    }
    .stars-container{
        text-align: center;

}
}