.loginModel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.251);
  backdrop-filter: blur(10px);



}

.PageLogin {
  width: 80%;
  height: 80vh;
  background-color: #43455C;
  color: white;
  position: absolute;
  right: 10%;
  top: 10%;


}


/* katlm logo o l paragraf */
.icon {
  display: flex;
  flex-flow: column;

}

/* paragraph li ta7t mn logo */
.c4u {
  font-family: Julee;
  font-size: 2rem;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: 0.15em;
  color: #55BBCC;
  margin-left: 90px;
  margin-top: -3rem;
}

/* katfara9 tswira o formulaire */
.combinelogin {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

/* tswira likatkhrj */
.iconClose {
  width: 30px;
  height: 30px;
  margin: 3%;
  color: #3BBA9C;



}

.error {
  color: red;
  margin-left: 15px;
  font-size: small;
  margin-bottom: 10px;



}

/* logo */
.Logo {
  width: 250px;


}

/* lkhat li kayfr9 logo o formulaire */
.lineCombine {
  height: 190px;
  width: 2px;
  background-color: #707793;

}

/* formulaire */
.formulaire {
  width: 300px;

}

/* input  */
.input {
  background-color: initial;
  border: #3BBA9C 2px solid;
  border-radius: 17px;
  margin: 15px 0px;
  padding: 10px 5px;
  width: 18.5rem;
  font-family: Copperplate Gothic Bold;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  outline: #3BBA9C;
  color: white;

}

/* submit */
.buttonsubmit {
  background-color: #3BBA9C;
  border: #3BBA9C solid 1px;
  border-radius: 15px;
  width: 300px;
  padding: 10px 0px;
  color: white;
  font-family: Copperplate Gothic Bold;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 15px 0px;


}

/* link li ta7t submit*/
.a {
  text-decoration: none;
  color: grey;
  font-family: Copperplate Gothic Bold;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;

}



@media (max-width: 700px) {
  .Logo {
    display: none;
  }

  .lineCombine {
    display: none;
  }

  .combinelogin {
    display: flex;
    justify-content: center;
    place-items: center;
  }

  .c4u {
    display: none;
  }


}